# Modelos y binarios pesados
models/
flight_prediction/target/
flight_prediction/project/target/
data/
data_mongo/

# Airflow (Ficheros locales temporales)
airflow/logs/
airflow/airflow.db
airflow/*.db

# Archivos del sistema y copias
*.save
*.zip
.DS_Store
